{* Latte template *}


<div id="dialog_photogalleryDelete" class="dialogConfirm" data-btn-ok="OK" data-btn-storno="Storno" data-title="Smazání fotogalerie">
    Opravdu chcete fotogalerii smazat?
</div>